body {
    background-color: #F4CDF5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bb1dbd;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #970c99;
}

h1 {
    color: #a457e8;
    font-size: 40px;
}

.hobbies {
    color: #ba6ae3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.funFacts {
    color: #ba6ae3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.buttonDescriber {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 2px;
}

#linkedIn {
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #1DB954;
    color: #000000; 
    cursor: pointer;
}

#linkedIn:hover {
    background-color: #25A352;
}